.popup {
  border-radius: 20px;
  position: fixed;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(80, 75, 75);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin-left: 50px;
  border-radius: 20px;
  background: white;
}
