.row {
  display: flex;
}
h2 {
  text-align: center;
}
.column1 {
  flex: 30%;
  padding: 10px;
  height: 300px;
  margin-left: 200px;
  margin-top: 100px;
  background-color: gainsboro;
  margin-right: 10px;
}
.column2 {
  flex: 30%;
  padding: 10px;
  height: 300px;
  margin-top: 100px;
  margin-right: 200px;
  background-color: gainsboro;
  margin-left: 10px;
}
